.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Input-hanzi {
  position:absolute;
  top: 30px;
  left: 30px;
  font-size: 20px;
  /* height: 100px; */
}

.Input-pinyin {
  position:absolute;
  top: 65px;
  left: 30px;
  font-size: 20px;
  /* height: 100px; */
}

.Play-button {
  position:absolute;
  top: 105px;
  left: 30px;
  height: 40px;
  width: 80px;
}

.Init-button {
  position:absolute;
  top: 147px;
  left: 30px;
  height: 40px;
  width: 80px;
}

.Download-button {
  position:absolute;
  top: 189px;
  left: 30px;
  height: 40px;
  width: 80px;
}